/* Estilos para a barra lateral */
.sidebar {
    background-color: #006400;  /* verde-mata */
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    border-right: 2px solid black;  /* linha preta */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px; /* Garantir que a parte inferior também tenha espaço */
}

/* Estilos para a logo */
.sidebar .logo {
    width: 100px;  /* Ajuste o tamanho da logo conforme necessário */
    margin-bottom: 50px;  /* Espaço maior abaixo da logo */
}

/* Estilos para a lista do menu */
.sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin-top: 20px; /* Adicionando um pequeno espaço extra no topo do menu */
}

/* Estilos para os itens do menu */
.sidebar li {
    margin-bottom: 40px;  /* Aumentando o espaçamento entre os itens */
    text-align: center;  /* Garantir que os itens do menu fiquem centralizados */
}

/* Estilos para os links do menu */
.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    text-align: center;
}

.sidebar a:hover {
    background-color: #004d00;  /* Tom mais escuro de verde */
}

/* Estilos para o conteúdo */
.content {
    margin-left: 260px;
    padding: 20px;
}
