{% extends 'base.html' %}

{% block title %}Quem Sou Eu{% endblock %}

{% block content %}
<h1>Quem Sou Eu</h1>
<p>Sou Marcos Felipe Amorim Mendes, nutricionista e fundador do Nutri Amorim. Ao longo da minha trajetória profissional, busquei sempre aliar conhecimento científico à prática diária, com o objetivo de promover saúde e bem-estar por meio da alimentação.</p>

<h2>Formação Acadêmica</h2>
<p>Atualmente sou estudante de Nutrição pela UniCesumar, com foco na promoção da saúde e nutrição personalizada. Além disso, continuo me atualizando por meio de cursos e especializações.</p>

<h2>Motivação</h2>
<p>A nutrição sempre foi uma paixão para mim, pois acredito que a alimentação correta é a chave para uma vida saudável. Vi na nutrição uma forma de transformar a vida das pessoas, ajudando-as a alcançar um estilo de vida mais equilibrado e feliz.</p>

<h2>Meus Valores</h2>
<p>Valorizo a ética, a transparência e o compromisso com a saúde de cada pessoa. Para mim, a nutrição não é apenas sobre dietas, mas sobre compreender as necessidades únicas de cada indivíduo e ajudá-lo a alcançar suas metas de saúde de forma sustentável e saudável.</p>
{% endblock %}
